<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends "base.html" %}

{% block content %}

{% if brand_posts %}
    <h3> {{ brand }} Brands</h3>

    <ul class="list-group">
        {% for post in brand_posts %}
        <li class="list-group-item">
            <a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
            - {{ post.author.first_name }} {{ post.post_date }} <br/>
            {{ post.body|slice:":100"|safe }}

            {% if user.is_authenticated %}
                <a href="{% url 'update_post' post.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Edit</a>
                <a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Delete</a>
            {% endif %}
        </li>

        {% endfor %}
    </ul>
{% else %}
    <h2>Sorry, this brand does not exist.
{% endif %}

{% endblock %}
</html>
