
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Welcome To Shoe'N</title>
    {% extends 'base.html' %}
    {% load static %}
    <style>
        .shoe-image {
            width: 200px; /* Set your desired width */
            height: 200px; /* Set your desired height */
            object-fit: cover; /* Ensures the image covers the area without distortion */
        }
    </style>
</head>
<body>
{% block content %}
<br>
<div class="container">
        <ul>
    {% for post in object_list %}   
        <div class="card border-secondary mb-3" style="max-width: 800px;">
            <div class="row g-0">
                <div class="col-md-4">
                    {% if post.shoe_image %}
                        <img src="{{ post.shoe_image.url }}" class="img-thumbnail shoe-image" alt="Shoe'N picture of a shoe">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a><h5>{{ post.title }}</h5></a>
                        <h6 class="card-title"><a href="{% url 'article-detail' post.pk|slugify %}">{{ post.brand }}</a></h6>
                        <p class="card-text">{{ post.body|slice:":100"|safe }}</p>
                        <p class="card-text"><small class="text-muted">By: {{ post.author }} - {{ post.post_date }}        
                        {% if user.is_authenticated %}
                            {% if user.id == post.author.id %}
                                <a href="{% url 'update_post' post.pk %}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Edit</a>
                                <a href="{% url 'delete_post' post.pk %}" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Delete</a>
                            {% endif %}
                        {% endif %}
                        </small></p>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
        </ul>
</div>

<style>
body {
    background: rgb(235, 235, 219, 1);
}
</style>
            

{% endblock %}
</body>
</html>
