<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends 'base.html' %}

{% block content %}

<div class="container">
    {% if searched %}
        <h3>Searched For "{{ searched }}"</h3>
        <hr>
        <div class="card-container">
            {% for post in posts %}
                <div class="card border-secondary mb-3" style="width: 400px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ post.shoe_image.url }}" class="img-fluid rounded-start" alt="Shoe'N picture of a shoe">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.brand }}</h5>
                                <p class="card-text">
                                    <a href="{% url 'article-detail' post.pk %}">{{ post.model }}</a>
                                    {% if post.colaboration %}
                                    <br>{{ post.colaboration }}
                                    {% endif %}
                                    <br>
                                    {{ post.color_scheme_1 }}, {{ post.color_scheme_2 }}, {{ post.color_scheme_3 }}
                                    <br><small class="text-muted">By: {{ post.author }} - {{ post.post_date }}</small>
                                    <br/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <h3>SneakerHeads</h3>
        <hr>
        {% for user in users %}
            <p>{{ user.username }}</p>
        {% endfor %}
        <br>
    {% else %}
        <h4>No results found</h4>
    {% endif %}
</div>

<style>
    body {
        background: rgb(235, 235, 219, 1);
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
    }

    .card {
        flex: 1 1 calc(33.333% - 16px);
        max-width: 400px;
    }
</style>

{% endblock %}
</html>
