<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    {% if user.is_authenticated %}
        {% if user.id == profile.user.id %}
            <div><h3>Edit Profile</h3></div>
            <hr>
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}  
                    <button class="btn btn-secondary">Update</button>
                </form>
            </div>

            {% comment %} {% if form.errors %}
                <div class="alert alert-danger">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %} {% endcomment %}

            <br>
        {% else %}
            This Isn't Your Profile!
        {% endif %}
    {% else %}
        Please Login to Shoe'N!
    {% endif %}
</div>
<style>
    body {
        background: rgb(235, 235, 219, 1);
    }
</style>

{% endblock %}
</html>



{% comment %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Edit Profile</title>
    {% extends 'base.html' %}
    {% load static %}
</head>
<body>
    {% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            {% if user.id == profile.user.id %}
                <div><h3>Edit Profile</h3></div>
                <hr>
                <br>
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}  
                        <button class="btn btn-secondary">Update</button>
                    </form>
                </div>

                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                <br>
            {% else %}
                This Isn't Your Profile!
            {% endif %}
        {% else %}
            Please Login to Shoe'N!
        {% endif %}
    </div>
    <style>
        body {
            background: rgb(235, 235, 219, 1);
        }
    </style>
    {% endblock %}
</body>
</html>


 {% endcomment %}
