<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>Welcome To Shoe'N</title>
{% extends 'base.html' %}
{% load static %}
{% block content %}

<h3>{{ profile.user.username }}'s Profile</h3>
<p>Email: {{ user.email }}</p>
<p>Premium Status: {{ user.profile.is_premium }}</p>

<p>LinkedIn: <a href="{{ profile.linkedin_url }}">{{ profile.linkedin_url }}</a></p>
<p>Meta: <a href="{{ profile.meta_url }}">{{ profile.meta_url}}</a></p>
<p>Instagram: <a href="{{ profile.instagram_url }}">{{ profile.instagram_url }}</a></p>
<p>Pinterest: <a href="{{ profile.pinterest_url }}">{{ profile.pinterest_url }}</a></p>
<p>Twitter: <a href="{{ profile.twitter_url }}">{{ profile.twitter_url }}</a></p>
<p>SoundCloud: <a href="{{ profile.soundcloud_url }}">{{ profile.soundcloud_url }}</a></p>
<p>YouTube: <a href="{{ profile.youtube_url }}">{{ profile.youtube_url }}</a></p>


{% endblock %}
</html>

